{% load static %}

<!DOCSTYLE html>
<html>
  <head>
    <title>成績管理アプリ</title>
    <link rel="stylesheet" type="text/css" href="{% static 'grades/css/style.css' %}">
  </head>
  <body>
    <header>
      <h1>成績管理サイト</h1>
      {% if request.user.is_authenticated %}

      <a href="{% url 'grades:profile_detail' %}"><button class="header btn profile">プロフィール</button></a>
      <button id="open" class="header btn logout">ログアウト</button>      

      <div id="modal" class="hidden">
	<p class="modalText">ログアウトしますか？</p>
	<div class="yesno">
	  <a href="{% url 'grades:logout' %}"><button id="yes" class="yes">はい</button></a>
	  <button id="no" class="no">いいえ</button>
	</div>
      </div>
      {% endif %}

    </header>
    <div class="body">{% block content %}{% endblock %}</div>
    <div class="push"></div>
    <footer>
      <h3>成績管理サイト</h3>
    </footer>
    <script type='text/javascript'>
      var open = document.getElementById('open');
      var modal = document.getElementById('modal');
      var yes = document.getElementById('yes');
      var no = document.getElementById('no');

      open.addEventListener('click', function(){modal.className='';});
      yes.addEventListener('click', function(){modal.className='hidden';});
      no.addEventListener('click', function(){modal.className='hidden';});
    </script>
  </body>
  
</html>
