{% extends 'grades/base.html' %}
{% block content %}
<html>
  <h1>成績管理サイト</h1>
    <form class="form-signin"  method="post" >{% csrf_token %}
            {% if form.errors %}
                <p>ユーザー名かパスワードが間違っています。もう一度入力してください。</p>
            {% endif %}
            <div class = "login-container">
            <label>ユーザー名</label>
            <input name="username">
            <br>
            <label>パスワード</label>
            <input type="password" name="password">
            <br>
            </div>
            <button type="submit">ログイン</button>
    </form>
    <a href="{% url 'grades:signup' %}"><button>ユーザー登録</button></a>
</html>
{% endblock %}
