{% extends 'grades/base.html' %}
{% load widget_tweaks %}

{% block content %}
<h2 class="user-name">{{ user.username }}さんのプロフィール</h2>
<div class="profile-text">
{% for profile in profiles %}
<p>名前　　　　　　　　　　　　｜　　　　　　　{{profile.name}}</p>
<p>学籍番号　　　　　　　　　　｜　　　　　　　{{profile.student_number}}</p>
<p>学部・専攻　　　 　 　　　　　｜　　　　　　　{{profile.major}}学部</p>
<p>学年　　　　　　　　　　　　｜　　　　　　　{{profile.grade}}回生</p>
{% endfor %}
</div>
<a href="{% url 'grades:user' %}"><button>マイページ</button></a>
<a href="{% url 'grades:profile' %}"><button>編集</button></a>



 
{% endblock %}