{% extends 'grades/base.html' %}

{% block content %}
<div class="user_text">
{% if request.user.is_authenticated %}
<h2>{{ request.user.username }}さんのページ</h2>

<h3>あなたの成績</h3>
<table border='1'>
  <tr>
    <th class="userName">ユーザー名</th>
    <th class="subject">英語</th>
    <th class="subject">数学</th>
    <th class="subject">国語</th>
    <th class="subject">GPA</th>
  </tr>
  <tr>
    <td class="userName">{{ request.user.username }}</td>
    <td class="score">{{ grade.english }}</td>
    <td class="score">{{ grade.math }}</td>
    <td class="score">{{ grade.japanese }}</td>
    <td class="score">{{ grade.gpa }}</td>
  </tr>
</table>
<br>
<h3>ランキング</h3>
<table border='1'>
  <tr>
    <th class="rank">順位</th>
    <th class="userName">ユーザー名</th>
    <th class="totalScore">総点</th>
  </tr>
  {% for rank in ranks %}
  <tr>
    <td class="rankNumber">{{ rank.id }}</td>
    <td class="userName">{{ rank.user }}</td>
    <td class="score">{{ rank.total }}</td>
  </tr>
  {% endfor %}
  <tr>
    <th></th>
    <th>平均点</th>
    <td class="score">{{ average }}</td>
  </tr>
</table>


{% if not request.user.is_superuser %}
<hr>
<h3>異議申立内容</h3>
{% for objection in user_objections %}
<p>{{ objection.author }}が{{ objection.created_at }}に申し立て</p>
<p>申立内容{{ objection.text }}</p>
<hr>
{% for reply in objection.replies_set.all %}
<p>{{ reply.author }}が{{ reply.created_at }}に回答</p>
<p>回答：{{ reply.text }}</p>
<hr>
{% endfor %}
{% endfor %}
<hr>

<h3>異議申立入力フォーム</h3>
<form method="POST" action="">
  {% csrf_token %}
  <br>
  申立内容：
  {{ o_form.text }}
  <br>
  <button id="open">送信</button>
  <div id="modal" class="hidden">
    送信しますか？
    <a id="yes" href="{% url 'grades:submitted' %}"><button type="submit">はい</button></a>
    <button id="no">いいえ</button>
  </div>
</form>
{% endif %}
  
{% endif %}
<hr>

{% if request.user.is_superuser %}
<h3>成績入力フォーム</h3>
<form method="POST" action="">
  {% csrf_token %}
  <br>
  名前：
  {{ g_form.user }}
  <br>
  英語：
  {{ g_form.english }}
  <br>
  数学：
  {{ g_form.math }}
  <br>
  国語：
  {{ g_form.japanese }}
  <br>
  <a href="{% url 'grades:user' %}">
    <button class="submit" type="submit">保存</button>
  </a>
</form>

<hr>
<h3>ユーザーからの異議申立</h3>
<br>
{% for objection in objections %}
<div class="objection text">
  <p>{{ objection.author }}が{{ objection.created_at }}に申し立て</p>
  <p>申立内容：{{ objection.text }}</p>
</div>
<a href="{% url 'grades:reply' objection_id=objection.id %}"><button class="reply btn">回答する</button></a>
<hr>
{% for reply in objection.replies_set.all %}
<div class="reply text">
  <p>{{ reply.author }}が{{ reply.created_at }}に回答</p>
  <p>回答：{{ reply.text }}</p>
</div>
<hr>
{% endfor %}
{% endfor %}

{% endif %}
</div>
{% endblock %}
