{% extends 'grades/base.html' %}

{% block content %}
<h2>{{ request.user.username }}さんのページ</h2>
{% if request.user.is_authenticated %}
<h3>あなたの成績</h3>
<table border='1'>
  <tr>
    <th>ユーザー名</th>
    <th>英語</th>
    <th>数学</th>
    <th>国語</th>
    <th>GPA</th>
  </tr>
  <tr>
    <td>{{ request.user.username }}</td>
    <td>{{ grade.english }}</td>
    <td>{{ grade.math }}</td>
    <td>{{ grade.japanese }}</td>
    <td>{{ grade.gpa }}</td>
  </tr>
</table>
<br>
<h3>ランキング</h3>
<table border='1'>
  <tr>
    <th>順位</th>
    <th>名前</th>
    <th>点数</th>
  </tr>
  {% for rank in ranks %}
  <tr>
    <td>{{ rank.id }}</td>
    <td>{{ rank.user }}</td>
    <td>{{ rank.total }}</td>
  </tr>
  {% endfor %}
</table>

<p>平均点：{{ average }}</p>

{% endif %}
<hr>
{% if request.user.is_superuser %}
<h3>成績入力フォーム</h3>
<form method="POST" action="">
  {% csrf_token %}
  <br>
  名前:
  {{ form.user }}
  <br>
  英語:
  {{ form.english }}
  <br>
  数学:
  {{ form.math }}
  <br>
  国語:
  {{ form.japanese }}
  <br>
  <a href="{% url 'grades:user' %}">
    <button type="submit">保存</button>
  </a>
</form>
{% endif %}

{% endblock %}
